
html {
    background-color: #dddddd;
}


.header {
    z-index: 4;
}

.top {
    padding: 23px;
    background-color: #4aaaa5;
    position: fixed;
    top: 0;
    color: white;
    font-size: 20px;
    z-index: 5;
}

#white {
    
    background-color: white;
    position: fixed;
    top: 0;
    padding: 10px;
    font-size: 15px;
    color: #ffffff;
    width: 100%;
    margin-left: -300px;

}

#white2 {

    background-color: white;
    position: fixed;
    top: 0;
    padding: 10px;
    font-size: 15px;
    color: #ffffff;
    width: 100%;
    margin-left: -250px;

}

p {
    color: #777777;
    
}

#trip {
    margin-left: 1075px;
    color: #777777;
    font-family: Georgia;
}

#trip2 {
    margin-left: 1025px;
    font-family: Georgia;
}

body {
    background-color: #ffffff;
    width: 960px;
    margin: 100px 300px;
    border: 3px solid #dddddd;
    
}

.pic{
    float: left;
    margin-right: 10px;
}

h1{

    text-align: left;
    padding: 5px;
    color: #4aaaa5;
    background-color: white;
    font-size: 22px;
    border-bottom: #cccccc solid;
    margin-left: 10px;
  
}

.content{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding-bottom: 10px;

}

.pic,
.content {
    margin: 0px 10px;
    text-align: left;
}


body{
    height: 100%;
}

.page {
    margin-left: 250px;
    width: 960px;
    background-color: #ffffff;

}

.links{
    width: 1000px;
    color:#4aaaa5;
    margin: 85px 150px;
    z-index: 1; 
}


.cube1 {
    float: left;
    width: 33%;
    margin-left: 20px;
    /* padding-bottom: 10px; */
}

.pro1{
    position: relative;
    /* padding-bottom: 5px; */
    
}

.box1 {
    background-color: blue;
    text-align: center;
    color: white;
    padding: 20px;
    width: 210px;
    height: 15px;
    position: absolute; 
    top: 350px;
    
}

.cube2 {
    float: left;
    width: 33%;
    margin-left: 20px;
}

.pro2{
    position: relative;
    
}

.box2 {
    background-color: blue;
    text-align: center;
    color: white;
    padding: 20px;
    width: 210px;
    height: 15px;
    position: absolute; 
    top: 350px;
    
}

.cube3 {
    float: left;
    width: 33%;
    margin-left: 20px;
    padding-top: 25px;
}

.pro3{
    position: relative;
    
}

.box3 {
    background-color: blue;
    text-align: center;
    color: white;
    padding: 20px;
    width: 210px;
    height: 15px;
    position: absolute; 
    top: 628px;
    
}

.cube4 {
    float: left;
    width: 33%;
    margin-left: 20px;
    padding-top: 25px;
}

.pro4{
    position: relative;
    
}

.box4 {
    background-color: blue;
    text-align: center;
    color: white;
    padding: 20px;
    width: 210px;
    height: 15px;
    position: absolute; 
    top: 628px;
    
}

.cube5 {
    float: left;
    width: 33%;
    margin-left: 20px;
    padding-top: 25px;
}

.pro5{
    position: relative;
    
}

.box5 {
    background-color: blue;
    text-align: center;
    color: white;
    padding: 20px;
    width: 210px;
    height: 15px;
    position: absolute; 
    top: px;
    
}

footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-left: -300px;
    }

    #f2{
        background-color: #666666;
        border-top: 8px solid #4aaaa5;
        padding: 20px;
        width: 100%;
        position: fixed;
        bottom: 0;
        margin-left: -275px;
        text-align: center;
        font-size: 10px;
        color: #777777;
        }

.head {
    padding: 15px 25px;
    margin-right: 10px; 
    margin-bottom: 10px;
}
  
/* .pro1,
.pro2,
.pro3,
.pro4,
.pro5 {
    z-index: 2;
}

.box1,
.box2,
.box3,
.box4,
.box5 {  
    padding: 20px;
    background-color: darkblue;
    z-index: 3;
    width: 210px;
    margin-left: 20px;
    color: white;
    text-align: center;
}

.pro1,
.pro2,
.pro3, 
.pro4 {
    padding-bottom: 50px;
} */

.clearfix {
    content: "";
    clear: both;
    display: table;
    padding-bottom: 50px;   
}



.contact {
    margin-left: 250px;
    width: 850px;
}

.cat {
    margin: 20px;
    color: #777777;
    padding-top: 2px;
}

.name {
    border: #cccccc solid 1px;
    margin: 20px;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

#nombre,
#email {
    margin-left: 10px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.empty {
    border: #cccccc solid 1px;
    margin: 20px;
    padding: 10px;
    padding-bottom: 150px;
}

.submit {
    padding: 2px;
    margin: 25px;
    width: 90px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-size: 12px;

}