
.index
.portfolio{
    background-color: grey;
}

body,
.links{
    background-color: white;
    width: 960px;
    margin: 0 auto;

}

.pic{
    float: left;
    margin-right: 10px;
}

.bio-header{
    padding-top: 10px;
    text-align: left;
    color: #4aaaa5;
    background-color: white;
    font-size: 22px;
  
}

.content{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding-bottom: 10px;
    

}

.pic,
.content,
.bio-header{
    padding-left: 10px;
    padding-right: 10px;
}


.ind,
body{
    height: 100%;
}

.links{
    width:900;
}
